/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
/*clases*/

a {
    color: inherit;
    text-decoration: none !important;
}
a:hover {
    color: #d87423 !important;
    text-decoration:none; 
    cursor:pointer;  
}

body {
    background-color: #FFF9ED;
    margin: unset;
}

footer {
    background-color: #fce58a;
}

.navbar-color .navbar-brand:hover {
    color: #f07863 !important;
}

.navbar-color .navbar-brand {
    font-family: 'Indie Flower', cursive;
    color: rgb(147, 160, 154);
    font-size: x-large !important;
}

.navbar-color {
    background-color: #fce58a;
}

.navbar-links {
    background-color: #44ddc1;
    /* height: 1rem; */
    flex-grow: unset;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
}

.navbar-links .nav-link {
    padding: unset;
    color: #463935 ! important;
}

.navbar-links button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-brand-container {
    justify-content: center !important;
}

.pink-button {
    color: white;
    background-color: #F0637A;
    border: unset;
    border-radius: unset;
    font-family: 'Advent Pro Medium', sans-serif;
}

.pink-button:hover {
    background-color: white;
    color: #F0637A;
}

.white-button {
    color: #f07863;
    background-color: white;
    border-color: #f07863;
    border-radius: unset;
    font-family: 'Neucha', cursive;
    
}

.white-button:hover {
    background-color: #f07863;
    color: white;
}

.no-border {
    border: unset;
    border-radius: unset;
}

.dropdown-menu {
    background-color: #cfebe6;
}

.dropdown-item {
    color: #463935;
    background-color: #cfebe6 !important;
}

.main-container {
    background-color: wheat !important;
}

.created-by {
    color: #F0637A;
    /* font-family: 'Josefin Slab', serif; */
    font-size: 9pt;
    font-family: 'Gloria Hallelujah', cursive;
}

.breadcrumb-item {
    color: #463935 ! important;
    font-family: 'Neucha', cursive !important;
}

.form-container{
    width: unset !important;
    display: flex;
}

.form-title{
    padding-right: 10rem;
    font-family: 'Neucha', cursive !important;
}